{% extends "MainBundle::adminLayout.html.twig" %}

{% block content %}
    <br><br><br>
    <div class="col-md-12 col-lg-12">
        <h3>Oops!!!! PAGE INTROUVABLE!!404</h3>
        <h4>
            La page que vous démandé est introuvable
        </h4>
    </div>
{%endblock%}

