<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Erreur: {{ status_text }}</title>
    </head>
    <body>
        <h1>Oops! Une erreur s'est produite</h1>
        <h2>Le serveur a retourné "{{ status_code }} {{ status_text }}".</h2>

        <div>
            Nous nous excusons de ce désagrément. S'il vous plait veuillez nous
            Contacter par Email si ce problème persiste et nous le résoudrons dans
            les plus bref délai. Merci!!!
        </div>
    </body>
</html>
