{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    
    {% include "TechniGestSecurityBundle:Admin:menuSecurite.html.twig" %}
    <br/><br/>
    <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
