{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
<p class="alert alert-info">{{ 'resetting.password_already_requested'|trans }}</p>
</div>

{% endblock fos_user_content %}
