services:
#    main.example:
#        class: MainBundle\Example
#        arguments: ["@service_id", "plain_value", "%parameter%"]

    main_myCustomServices:
        class: MainBundle\CustomServices\MyCustomServices
        arguments: ['@request_stack', "@security.token_storage"]
#        calls:
#            - ["setContainer", ["@service_container"]]

    main_form.voyage.type:
        class: MainBundle\Form\VoyageType
        arguments: ['@request_stack']
        tags:
            - { name: form.type }