<!-- STEPS -->
<section id="Steps" class="steps-section">

	<div class="container-fluid">
		<div class="row">
			<h2 class="steps-header">
				BIENVENUE !!<br/>RESERVEZ VOTRE TICKET EN SEULEMENT QUATRES ETAPES
			</h2>
		</div>

		<div class="row">
			<div class="steps-timeline">

				<div class="col-lg-3 col-md-3 col-sm-3">
					<div class="steps-one">
						<div class="steps-img">1</div>
						<h3 class="steps-name">
							Cherchez un départ
						</h3>
						<p class="steps-description">
							Avec le formulaire ci-dessous.
						</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-3">
					<div class="steps-two">
						<div class="steps-img">2</div>
						<h3 class="steps-name">
							Cliquez sur payer
						</h3>
						<p class="steps-description">
							Et Entrez vos informations.
						</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-3">
					<div class="steps-three">
						<div class="steps-img">3</div>
						<h3 class="steps-name">
							Validez le paiement
						</h3>
						<p class="steps-description">
							Avec votre compte Orange Money.
						</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-3">
					<div class="steps-four">
						<div class="steps-img"> <span class="glyphicon glyphicon-check"/> </div>
						<h3 class="steps-name">
							Obtenez votre code.
						</h3>
						<p class="steps-description">
							Un code vous sera envoyé.
						</p>
					</div>
				</div>

                {#<div class="steps-three">
                  <img class="steps-img" src="http://placehold.it/50/3498DB/FFFFFF" alt="" />
                  <h3 class="steps-name">
                    Contained
                  </h3>
                  <p class="steps-description">
                     The timeline does not extend past the first and last elements.
                  </p>
                </div>#}

			</div><!-- /.steps-timeline -->
		</div>

	</div>

</section>
